PRIVATE_KEY=your_deployer_private_key
KEEPER_PRIVATE_KEY=keeper_wallet_private_key
RPC_URL=https://testnet-passet-hub-eth-rpc.polkadot.io
CHAIN_ID=420420421
REPORT_GAS=false
ETHERSCAN_API_KEY=placeholder
